<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <script src="/javascript/app/views/homes/sample.js"></script>
    <script src="sample2.js"></script>
  </body>
</html>